.bgg {
    z-index: 1
}
.body {
    z-index: 2
}
.front-bg {
    background-image: url('../i/front.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    line-height: 2.5rem;
}
.front-bg2 {
    background-image: url('../i/front2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    line-height: 2.5rem;
}
.img-shadow {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0));

}
.logo {
    margin-right: 60%;
    margin-bottom: 10%;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 0.2;
}
.description {
    background-image: radial-gradient(circle closest-corner at center, rgba(0, 0, 0, 0.4),  rgba(255, 255, 255, 0))
}
.we-do li::before {
    content: '»   ';
    font-weight: bold;
    font-size: 2rem;
    line-height: 0.5rem;
    position: relative;
    top: 0.2rem;
    color: red;
}
.proj {
    height: 250px;
    background: url('../i/front.jpg');
    background-position: center;
    background-size: 110%;
    transition: 0.3s;
}
.proj:hover {
    background-size: 100%;
}
